1.0.0-dstu.3/core.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>The Core Reference Model package includes the main classes in the CIMI reference model upon which clinical models will be defined. These include the concrete classes Composition, Section, Entry, Cluster and Element. </xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="data-value-types.xsd"/>
	<xs:include schemaLocation="party.xsd"/>
	<xs:complexType name="LINK">
		<xs:annotation>
			<xs:documentation>The LINK type defines a logical relationship between two items, such as two ENTRYs or an ENTRY and a COMPOSITION. Links can be used across compositions, and across EHRs. Links can potentially be used between interior (i.e. non archetype root) nodes, although this probably should be prevented in archetypes. Multiple LINKs can be attached to the root object of any archetyped structure to give the effect of a 1-&gt;N link. 1:1 and 1:N relationships between archetyped content elements (e.g. ENTRYs) can be expressed by using one, or more than one, respectively, LINKs. Chains of links can be used to see problem threads  or other logical groupings of items. Links should be used between archetyped structures only, i.e. between objects representing 
complete domain concepts, because relationships between sub-elements of whole concepts are not necessarily meaningful. Sensible */*links only exist between whole ENTRYs, SECTIONs, COMPOSITIONs and so on. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="meaning" type="TEXT" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Used to describe the relationship between the source and the target of the link (usually in clinical terms) - such as  the relationship between test results and an order,  follow-up to a consultation and so on. The meaning of each link falls under one of the following categories: generic, documenting and reporting, organisational,  clinical , circumstantial , and view management .</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="details" type="ITEM" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="target" type="LOCATABLE" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="LOCATABLE" type="LOCATABLE"/>
	<xs:complexType name="LOCATABLE" abstract="true">
		<xs:annotation>
			<xs:documentation>The root class of all information model classes that can be archetyped. Most classes in the CIMI reference model inherit from the LOCATABLE class, which defines the idea of  locatability in an archetyped structure. LOCATABLE defines a runtime name and an archetype_node_id. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="archetype_node_id" type="String" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The design-time archetype id of this node taken from its generating archetype This archetype node id is used to build archetype paths. It is always in the form of an at  code, e.g. at0005 . This value enables a "standardised" name for this node to be generated, by 
referring to the generating archetype local ontology. At an archetype root point, the value of this attribute is always the stringified form of the archetype_id found in the archetype_details object. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The runtime name of this fragment, used to build runtime paths. This is the term provided via a clinical application or batch process to name this EHR construct. Its retention in the EHR faithfully preserves the original label by which this entry was known to end users. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="instance_id" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The runtime id of an instance of this fragment

It is up to the implementer. When instance generated from eCore -&gt; Java. Java has inherent id.

instance_id has to be globally unique in a certain scope.
e.g. uid(oid), guid, uri, dns </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="archetype_details" type="ARCHETYPED" minOccurs="0" maxOccurs="1"/>
			<xs:element name="link" type="LINK" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ARCHETYPED">
		<xs:annotation>
			<xs:documentation>Archetypes act as the configuration basis for the particular structures of instances defined by the reference model. To enable archetypes to be used to create valid data, key classes in the reference model act as  root  points for archetyping. These classes have the archetype_details attribute set. An instance of the class ARCHETYPED contains the relevant archetype identification 
information, allowing archetypes to be matched up with data instances.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="archetype_id" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Globally unique archetype identifier. 
The identifier for archetypes. Ideally these would identify globally unique archetypes. Lexical form: 
rm_originator  -' rm_name  -' rm_entity  .' concept_name { -' specialisation }*  .v' number </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rm_version" type="String" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Version of the CIMI reference model used to create this object. 
Expressed in terms of the release version string, e.g.  1.0 , 1.2.4 .</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PARTICIPATION" type="PARTICIPATION"/>
	<xs:complexType name="PARTICIPATION">
		<xs:annotation>
			<xs:documentation>Used to represent any participation of a Party (e.g. any Actor or Role) in some activity, e.g. assisting nurse. Can be used to record past or  future participations. Should not be used in place of more permanent relationships between demographic entities. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="LOCATABLE">
				<xs:sequence>
					<xs:element name="function" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The function of the Party in this participation. Please note that a given party might participate in more than one way in a particular activity.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="details" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="party" type="PARTY" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ITEM" type="ITEM"/>
	<xs:complexType name="ITEM" abstract="true">
		<xs:annotation>
			<xs:documentation>The abstract parent of CLUSTER and ELEMENT representation classes. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CORE_LOCATABLE">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CLUSTER" type="CLUSTER"/>
	<xs:complexType name="CLUSTER">
		<xs:annotation>
			<xs:documentation>The grouping variant of ITEM, which may contain further instances of ITEM, in 
an ordered list. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ITEM">
				<xs:sequence>
					<xs:element name="structure_type" type="CODED_TEXT" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Defines the structural organization of a CLUSTER and its contained CLUSTERs and/or ELEMENTs (e.g. 'List', 'Table').</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="item" type="ITEM" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ELEMENT" type="ELEMENT"/>
	<xs:complexType name="ELEMENT">
		<xs:annotation>
			<xs:documentation>A type of data ITEM, which does not itself contain ITEMs.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ITEM">
				<xs:sequence>
					<xs:element name="null_flavor" type="CODED_TEXT" minOccurs="0" maxOccurs="1"/>
					<xs:element name="value" type="xs:string" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="COMPOSITION" type="COMPOSITION"/>
	<xs:complexType name="COMPOSITION">
		<xs:annotation>
			<xs:documentation>A composition is considered the unit of modification of the record, the unit of transmission in record extracts, and the unit of attestation by authorising clinicians. In this latter sense, it may be considered equivalent to a signed document. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CORE_LOCATABLE">
				<xs:sequence>
					<xs:element name="category" type="CODED_TEXT" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Indicates what broad category this Composition belongs to, e.g. 
persistent  - of longitudinal validity,  event ,  process  etc. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="language" type="CODED_TEXT" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Mandatory indicator of the localised language in which this Composition is written.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="jurisdiction" type="CODED_TEXT" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The jurisdiction in which this Composition was written. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="content" type="CONTENT_ITEM" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CONTENT_ITEM" type="CONTENT_ITEM"/>
	<xs:complexType name="CONTENT_ITEM" abstract="true">
		<xs:annotation>
			<xs:documentation>The abstract ancestor of all concrete content types (i.e. Section and Entry).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CORE_LOCATABLE">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SECTION" type="SECTION"/>
	<xs:complexType name="SECTION">
		<xs:annotation>
			<xs:documentation>Represents a heading in a heading structure, or  a section tree. Sections may be created for common headings such as a SOAP (Subjective, Objective, Assessment, Plan) physical examinations, or pathology result heading structures. Sections should not be used instead of ENTRY hierarchical structures. </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CONTENT_ITEM">
				<xs:sequence>
					<xs:element name="item" type="CONTENT_ITEM" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ENTRY" type="ENTRY"/>
	<xs:complexType name="ENTRY">
		<xs:annotation>
			<xs:documentation>A type of CONTENT_ITEM that represents the logical root of a single clinical statement within a clinical session. ENTRYs may represent a single Observation, Evaluation, Instruction or Action. An ENTRY is also the minimal unit of information any query should return., since it records spatial, timing, contextual and participation information.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CONTENT_ITEM">
				<xs:sequence>
					<xs:element name="language" type="CODED_TEXT" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Mandatory indicator of the localised language in which this Entry is written. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="data" type="ITEM" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CORE_LOCATABLE" type="CORE_LOCATABLE"/>
	<xs:complexType name="CORE_LOCATABLE" abstract="true">
		<xs:complexContent>
			<xs:extension base="LOCATABLE">
				<xs:sequence>
					<xs:element name="participation" type="PARTICIPATION" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
